services:
  db:
    image: pgvector/pgvector:0.8.1-pg18-trixie
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: docustream
    volumes:
      - pg_data:/var/lib/postgresql

volumes:
  pg_data:
